@import 'theme';

$radius: 0;

#nav {
  display: flex;

  border-radius: $radius;
  user-select: none;
  position: relative;
}

.nav-item {
  @include theme-aware('color', 'c-text-contrast');
  padding: 20px 20px;
  font-size: 14px;
  font-weight: 600;
}

.nav-item-active > div {
  color: #0000001c;
}

.nav-item:hover {
  background-color: #0000001c;
  cursor: pointer;
}
.nav-divider {
  margin: 10px 0 7px 0;
}
.nav-item-right {
  margin-left: auto;
}
.nav-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 17px;
}
#nav-logo {
  margin: auto 40px;
  @include theme-aware('color', 'c-text-contrast');
}
