@import 'theme';

$radius: 0;

#nav {
  @include theme-aware('background', 'c-primary');

  display: flex;
  border-bottom: 4px solid;

  @include theme-aware('border-color', 'c-primary-dark');

  border-radius: $radius;
  user-select: none;
}
.nav-item {
  @include theme-aware('color', 'c-text-contrast');
  padding: 15px 20px;
  font-size: 14px;
  font-weight: 600;
}

.nav-item-active > div {
  @include theme-aware('color', 'c-primary-light');
}

.nav-item:hover {
  @include theme-aware('background', 'c-primary-dark');
  cursor: pointer;
}
.nav-divider {
  border-right: 2px solid;
  @include theme-aware('border-color', 'c-primary-dark');
  margin: 10px 0 7px 0;
}
.nav-item-right {
  margin-left: auto;
}
.nav-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 17px;
}
#nav-logo {
  margin: auto 40px;
  @include theme-aware('color', 'c-text-contrast');
}
