@import 'theme';

.content {
  margin: 10px;

  @include theme-aware('color', 'c-text');
}
.flex-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.gradient-bg {
  @include theme-aware('background-image', 'g-background');
  @include theme-aware('color', 'c-text-contrast');
  object-fit: cover;
}
